<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
<body>
	<main class="container">
		<section class="about">
			<a href="https://insuhan.github.io">
			<img src="{{ "/assets/InsuHan.jpg" | relative_url }}" alt="{{ site.plainwhite.name }}">
			</a>
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/insuhan"><li><i class="icon-github-circled"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.linkedIn -%}
				<a href="https://www.linkedin.com/in/insu-han-9b9676143/"><li><i class="icon-linkedin-squared"></i></li></a>
                {%- endif -%}
				<a href="https://scholar.google.com/citations?hl=en&user=0w39xsoAAAAJ"><li><i class="ai ai-google-scholar-square ai-1x"></i></a>
			</ul>
			<p>&copy; 2022</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
